.width-100 {
    width: 100%;
}
.width-5{
    width: 5%;
}
.width-95{
    width: 95%;
}
.width-74 {
    width: 74%;
}
.height-30vh{
    height: 30vh;
}
.width-24{
    width: 24%;
    margin-left: 1rem;
}
.width-60{
    width: 60%;
}
.height-100vh {
    height: 100vh;
}
.height-38vh{
    height: 38vh;
}
.width-fit-content{
    width: fit-content;
}
.heightSm-fitContent{
    height: fit-content;
}
.default-padingX{
    padding-left: 102px;
    padding-right: 102px;
}
/* .header{
    position: sticky;
    top: 5%;
    z-index: 1;
} */
.cursorPointer{
    cursor: pointer;
}
.colorActive{
    color: #86bdfe;
}
.colorInActive{
    color: #8a8a8a;
}
.searchIcon {
    cursor: pointer;
}

.mainWeatherValues p{
    color: white;
}
.mainWeatherValues svg{
    color: white;
}
.Logo{
    width: fit-content;
}
.Logo img{
    width: 56px;
}
.common-bg-card {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.common-theme-bg-card {
    background: rgba(54, 144, 254, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.common-bg-card-noBoder {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

/* .main {
    width: 35%;
    
} */

.inputElements input {
    width: 100%;
    border-radius: 20px;
    outline: 1px solid #ffffff4d;
    border: 1px solid #ffffff4d;
    padding: 4px 10px;
    transition: .4s ease-in-out;
}

.loginButton{
    text-decoration: none;
    color: white;
}
.common-button-bg-card {
    background: rgba(54, 144, 254, 0.35);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
  }

.inputElements input:focus {
    outline: 1px solid #3690FE;
    border: 1px solid #3690FE;
}

.searchIcon {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#weatherIcon {
    width: 224px;
}

.swal2-popup {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: black;
}

.swal2-styled {
    padding: 6px 20px !important;
    background: rgba(54, 144, 254, 0.35) !important;
    border-radius: 16px !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
    color: black !important;
}
.currentTime{
    height: 30vh;
}
.map:focus{
    outline: none !important;
    border: 0 !important;
}

@media only screen and (max-width: 992px) {
    /* .main{
        width: 80%;
    } */
    /* .smDispaly-none{
        display: none;
    } */
    .width-74 {
        width: 100%;
    }
    .width-24{
        width: 100%;
        margin-left: 0;
    }
    .default-padingX{
        padding-left: 20px;
        padding-right: 20px;
    }
    .height-30vh{
        height: 12vh;
    }
    .width-60{
        width: 100%;
    }
    .Logo{
        width: 100%;
    }
    .heightSm-fitContent{
        height: fit-content;
    }
  }