.OTPNotValid{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    outline: 1px solid #ffffff4d;
    border: 1px solid #ffffff4d;
    width: 100%;
    outline: 1px solid #ff00004d !important;
    border: 1px solid #ff00004d !important;
}
.OTPNotValid:focus{
    outline: 1px solid #ff0a0a !important;
    border: 1px solid #ff0a0a !important;
}
.OTPValid{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    outline: 1px solid #ffffff4d;
    border: 1px solid #ffffff4d;
    width: 100%;
    outline: 1px solid #09ff004d !important;
    border: 1px solid #09ff004d !important;
}
.OTPValid:focus{
    outline: 1px solid #1aff00 !important;
    border: 1px solid #1aff00 !important;
}